@model Phono.Models.Phone
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Delete Phone</h2>
<p class="error">@ViewBag.ErrorMessage</p>
<h3 class="delete-title">Are you sure you want to delete this Phone record?</h3>

<div>
    <dl>
        <dt>@Html.DisplayNameFor(model => model.PhoneName)</dt>
        <dd>@Html.DisplayFor(model => model.PhoneName)</dd>

        <dt>@Html.DisplayNameFor(model => model.DateReleased)</dt>
        <dd>@Html.Label(Model.DateReleased.Value.ToShortDateString())</dd>
        <!--<dd>@Html.DisplayFor(model => model.DateReleased)</dd>-->
    </dl>
</div>

@using (Html.BeginForm())
{
    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-primary" /> |
        @Html.ActionLink("Back to List", "Index", "Phone", null, new { @class = "btn btn-default" })
    </div>
}

