@model Phono.ViewModel.PhoneFormViewModel
@{
    ViewBag.Title = "PhoneForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PhoneForm</h2>

@using (Html.BeginForm("Save", "Phone"))
{
    @Html.ValidationSummary();
    <div class="form-group">
        @Html.LabelFor(m => m.Phone.PhoneName)
        @Html.TextBoxFor(m => m.Phone.PhoneName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Phone.PhoneName)

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Phone.BrandId)
        @Html.DropDownListFor(m => m.Phone.BrandId,
        new SelectList(Model.BrandsList, "Id", "BrandName"),
        "Select Phone Brand", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Phone.BrandId)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Phone.ScreenSize)
        @Html.TextBoxFor(m => m.Phone.ScreenSize, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Phone.ScreenSize)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Phone.DateReleased)
        @Html.TextBoxFor(m => m.Phone.DateReleased, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Phone.DateReleased)
    </div>

    
    <div class="form-group">
        @Html.LabelFor(m => m.Phone.PhoneTypeId)
        @Html.DropDownListFor(m => m.Phone.PhoneTypeId,
        new SelectList(Model.PhoneTypesList, "Id", "Type"),
        "Select Phone Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Phone.PhoneTypeId)
    </div>


    @Html.HiddenFor(m => m.Phone.ID)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>

}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}




