@model VidPlace.ViewModels.MediaFormModelView
@{
    ViewBag.Title = "MediaForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MediaForm</h2>

@using (Html.BeginForm("Save", "Medias"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Media.Name)
        @Html.TextBoxFor(m => m.Media.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Media.Name)

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Media.ReleaseDate)
        @Html.TextBoxFor(m => m.Media.ReleaseDate, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Media.ReleaseDate)

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Media.DateAdded)
        @Html.TextBoxFor(m => m.Media.DateAdded, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Media.DateAdded)
    </div>
    
    <div>
        @Html.LabelFor(m => m.Media.MediaType)
        @Html.DropDownListFor(m => m.Media.MediaTypeID,
          new SelectList(Model.MediaTypeList, "ID", "TypeName"),
          "Select Media Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Media.MediaTypeID)
    </div>
    <div>
        @Html.LabelFor(m => m.Media.Genre)
        @Html.DropDownListFor(m => m.Media.GenreID,
          new SelectList(Model.GenreList, "ID", "Name"),
          "Select a Genre", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Media.GenreID)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Media.NumberInStock)
        @Html.TextBoxFor(m => m.Media.NumberInStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Media.NumberInStock)
    </div>


    @Html.HiddenFor(m => m.Media.ID)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
    /*Put a button back to list */

}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
