@model SurveyOnline.Models.Survey
@{
    ViewBag.Title = "Details";
}

<br />
<p>@Html.ActionLink("Survey List", "SurveyList", "Surveys", null, new { @class = "btn btn-primary" }) </p>


<h3>@Model.Title</h3>

<ul>
    <li>SurveyQuestion: @Model.SurveyQuestion</li>
    <li>Topic: @Model.Topic.Name</li>

    @if (Model.Author != null)
    {
        <li>Author: @Model.Author</li>
    }
    @if (Model.DeadlineDate.HasValue)
    {
        <li>DeadlineDate: @Model.DeadlineDate.Value.ToShortDateString()</li>
    }
</ul>
